@{
    ViewBag.Title = "Cassette | Tutorials";
    ViewBag.Description = "A set of tutorials to help you get started using Cassette in your .net web apps";
}


<h1>Tutorials</h1>

<p>Keep an eye out here for new tutorials... more coming soon!</p>

<ul class="tutorials">
    <li>
        <h2 class="title"><a target="_blank" href="https://github.com/andrewdavey/cassette/blob/master/examples/Backbone/README.md">Managing Backbone.js applications with Cassette</a></h2>
        <a target="_blank" href="http://github.com/christophercliff"><img height="16" src="https://secure.gravatar.com/avatar/9920985dff487c70cac02a5385754f2c?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="Christopher Cliff"/></a>
        <p class="author"><a target="_blank" href="http://github.com/christophercliff">Christopher Cliff</a></p>
    </li>
</ul>