.action {
    border-radius: 0px; /* Fixes appearance of button corners */
}

a {
    display: inline-block; /* Fixes issue with opacity on links */
}

span.gitforked-bubble a {
    display: inline; /* Fixes issue with alignment of gitforked button caused by the style above*/
}