<h1>Configuration</h1>
<p>Cassette uses code-based configuration to define asset modules and what processing to apply to them.
Your web application can contain a public class that implements <code>Cassette.ICassetteConfiguration</code>.</p>
<p>During application start-up, Cassette will create your configuration class and call the <code>Configure</code> method.</p>
<p>Here's the outline of a configuration class:</p>
<pre><code><span class="keyword">using</span> Cassette;

<span class="keyword">public</span> <span class="keyword">class</span> <span class="code-type">CassetteConfiguration</span> : <span class="code-type">ICassetteConfiguration</span>
{
    <span class="keyword">public</span> <span class="keyword">void</span> Configure(<span class="code-type">ModuleConfiguration</span> moduleConfiguration, <span class="code-type">ICassetteApplication</span> application)
    {
        <span class="comment">// Put configuration here</span>
    }
}</code></pre>
<p class="minor">The <code>Cassette.Web</code> nuget package adds the <code>CassetteConfiguration.cs</code> file to your project.</p>

<h2>Next...</h2>
<p>Add some <a href="@Url.DocumentationUrl("configuration/module-sources")">module sources</a> to the configuration.</p>

<h2>Advanced ICassetteApplication Properties</h2>
<p>The <code>ICassetteApplication</code> object passed to the <code>Configure</code> methods has some properties you can set.</p>
<dl>
    <dt><code>IsOutputOptimized</code></dt>
    <dd>When true, asset modules are concatenated, minified, cached, versioned, etc.</dd>
    <dd>Defaults to <code>true</code> when <code>debug="false"</code> in Web.config, otherwise is false.</dd>
    <dd>You might force this to be true, even when debugging, so you can debug the production-mode output.</dd>

    <dt><code>IsHtmlRewritingEnabled</code></dt>
    <dd>Defaults to <code>true</code>.</dd>
    <dd>When <code>true</code> Cassette will buffer and rewrite page HTML output. This means that if a partial view references a stylesheet after <code>&lt;head&gt;</code>
    has been rendered, the required <code>&lt;link&gt;</code> can still be inserted.</dd>
    <dd>Please note, this does not work in IIS when <code>&lt;urlCompression dynamicCompressionBeforeCache="true"/&gt;</code>.
    You will need to disable <code>IsHtmlRewritingEnabled</code> if you use that feature of IIS.</dd>

    <dt><code>UrlGenerator</code></dt>
    <dd>If you need to change how Cassette generates URLs for assets and modules, this is the place to provide your own
    implementation of <code>Cassette.IUrlGenerator</code>.</dd>
    <dd>The main use case would be prefixing URLs with a static/CDN domain name.</dd>
    <dd>Please ask in the <a href="http://groups.google.com/group/cassette">Cassette Google Group</a> for help with this.</dd>

</dl>

