@{
    ViewBag.Title = "PerSubDirectorySource";
}
<h2>PerSubDirectorySource&lt;T&gt;</h2>
<p>This module source will create module for each immediate sub-directory of the given source path.
The source path is relative to the application root directory.</p>
<p>The <code>FilePattern</code> property is a semicolon separated string that defines which file types to include in the modules.</p>
<p>The optional <code>Exclude</code> property is a regular expression used to exclude files.</p>
<p>The <code>SearchOption</code> property controls how the <strong>files</strong> are found, not the directories.
<code>PerSubDirectorySource</code> only creates modules from the top-level sub-directories of the given path.</p>
<p>Here's an example:</p>
<pre><code>moduleConfiguration.Add(
    <span class="keyword">new</span> <span class="code-type">PerSubDirectorySource</span>&lt;<span class="code-type">ScriptModule</span>&gt;(<span class="string">"Scripts"</span>)
    {
        FilePattern = <span class="string">"*.js;*.coffee"</span>,
        Exclude = <span class="keyword">new</span> <span class="code-type">Regex</span>(<span class="string">"-vsdoc\\.js$"</span>) <span class="comment">// Excludes the VS documentation files</span>
        SearchOption = <span class="code-type">SearchOption</span>.AllDirectories <span class="comment">// This is the default</span>
    }
);</code></pre>
<p>So if your file system looks like:</p>
<pre>Scripts/
  - lib/
      - jquery.js
      - knockout.js
  - app/
      - widgets/
          - menu.js
          - calendar.js
      - page.js
      - widget.js
</pre>
<p>Then a module is created for <code>Scripts/lib</code> and <code>Scripts/app</code>. The app module contains the assets
from the widgets sub-directory.</p>
<p>Note: Any hidden folders, such as <code>.svn</code>, are ignored by PerSubDirectorySource.</p>