@{
    ViewBag.Title = "PerFileSource";
}
<h2>PerFileSource&lt;T&gt;</h2>
<p>The PerFileSource creates a separate module for each file it finds.</p>
<p>Here's an example object</p>
<pre><code><span class="keyword">new</span> <span class="code-type">PerFileSource</span>&lt;<span class="code-type">ScriptModule</span>&gt;(<span class="string">"application-relative-path-to-directory"</span>)
{
    FilePattern = <span class="string">"*.js;*.coffee"</span>, <span class="comment">// The files to find</span>
    Exclude = <span class="keyword">new</span> <span class="code-type">Regex</span>(<span class="string">"-vsdoc.js$"</span>), <span class="comment">// Exclude files that match this</span>
    SearchOption = <span class="code-type">SearchOption</span>.TopDirectoryOnly <span class="comment">// The default is AllDirectories</span>
};</code></pre>