<h2>jQuery-tmpl Template Compilation</h2>
<p>jQuery-tmpl templates are usually embedded into a page using non-executing script blocks.
The browser then compiles these into JavaScript functions at runtime. This may be fast in modern
browsers, but given a lot of templates and a slower mobile browser, you may notice the slow down.</p>
<p>Cassette enables you to pre-compile jQuery-tmpl templates into JavaScript on the server-side.
The compiled templates are cached and served to the browser as a regular script. This also provides all the 
benefits of Cassette's module versioning and caching.
</p>
<p>The compiled template functions are loaded directly into jQuery-tmpl, with no runtime overhead.</p>

<h3>Module configuration</h3>
<p>To enable this feature, use the following module configuration:</p>
<pre><code>moduleConfiguration.Add(<span class="keyword">new</span> <span class="code-type">DirectorySource</span>&lt;<span class="code-type">HtmlTemplateModule</span>&gt;(<span class="string">"HtmlTemplates"</span>)
{
    <span class="comment">// Assign the jQuery-tmpl processor to the HTML template modules</span>
    CustomizeModule = module => module.Processor = <span class="keyword">new</span> <span class="code-type">JQueryTmplPipeline</span>()
});</code></pre>

<h3>Using in pages</h3>
<p>In a view page, reference your templates just like any other module:</p>
<pre><code><span class="code-tag">@@{</span>
    <span class="code-type">Assets</span>.HtmlTemplates.Reference(<span class="string">"HtmlTemplates"</span>);
}</code></pre>
<p>Also, tell Cassette where to render the HTML required to include the templates:</p>
<pre><code><span class="code-tag">@@</span><span class="razor-expression"><span class="code-type">Assets</span>.HtmlTemplates.Render()</span></code></pre>

<p>Now when the page runs, instead of embedding the template sources into the page, a single script include is generated:</p>
<pre><code><span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">src</span><span class="attribute-value">="/_assets/htmltemplates/HtmlTemplates_7d879cec"</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span><span class="open-tag">&lt;/</span><span class="tag">script</span><span class="close-tag">&gt;</span></code></pre>

<p>This script will return the templates compiled into JavaScript. Like all Cassette modules, it is versioned and cached aggresively. 
So a browser only needs to download it once.</p>