<p>Cassette is still under development and the documentation is lagging a little behind the code.
Please bear with me while I get everything updated. Thanks!</p>
<p>If you have questions not answered here please ask in the 
<a href="http://groups.google.com/group/cassette">Cassette Google Group</a>.</p>
<p>- Andrew Davey (Creator of Cassette)</p>

<h2>New to Cassette?</h2>
<p><a class="action" href="@Url.DocumentationUrl("getting-started")">Read 'Getting Started' &gt;&gt;</a></p>
