@font-face {
  font-family: 'DroidSansBold';
  src: url(/fonts/embed/droidsans-bold-webfont.eot);
  src: local('Droid Sans Bold'), local('DroidSansBold'), url(/fonts/embed/droidsans-bold-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'DroidSans';
  src: url(/fonts/droidsans-webfont.eot);
  src: local('Droid Sans'), local('DroidSans'), url(/fonts/droidsans-webfont.ttf) format('truetype');
}