<h1>Bundles.Reference method</h1>

<p>
    The <code>Bundles.Reference</code> method adds a reference a bundle.
</p>

<p>Example:</p>
<pre><code>Bundles.Reference("scripts/app");</code></pre>

<p>
    Calls to <code>Reference</code> can appear anywhere in a page, layout or partial view.
</p>

<p>
    The path argument can be one of the following:
</p>

<ul>
    <li>A bundle path</li>
    <li>An asset path - the whole bundle containing this asset is referenced</li>
    <li>A URL</li>
</ul>
