<h1>Render helper methods</h1>

<p>
    The <code>Render*</code> helper methods return the HTML elements required
    to include the bundles referenced by the current web request.
</p>

<pre><code>@@Bundles.RenderScripts()</code></pre>

<pre><code>@@Bundles.RenderStylesheets()</code></pre>

<pre><code>@@Bundles.RenderHtmlTemplates()</code></pre>