@{
    ViewBag.Title = "Buy";
    ViewBag.Section = "licensing";    
}
<div class="main">
    <h1>LICENSING</h1>
    
    <div class="content buypage">
        <h2>Choose Your License</h2>
        
        <div class="buyinghelp">
            <h3>Need help?</h3>
            <dl>
                <dt><a href="" class="helpquestion">Money-back Guarantee</a></dt>
                <dd class="helpanswer"><p>We offer a 30-day money-back guarantee. So if, for any reason, you change your mind about Cassette, 
                just <a href="@Url.RouteUrl("contact")">get in touch</a> and we'll be happy to arrange a full refund for you.</p></dd>

                <dt><a href="" class="helpquestion">Payment Options</a></dt>
                <dd class="helpanswer"><p>We're currently taking payment through PayPal checkout. A PayPal account isn't required - 
                you can also check out as a PayPal guest using a debit or credit card.</p>
                <p></p></dd>

                <dt><a href="" class="helpquestion">License Delivery Information</a></dt>
                <dd class="helpanswer"><p>Your formal license will arrive by email within 2 business days of your purchase.</p>
                <p>As soon as you've made your payment, you can start using Cassette in your proprietary software - 
                head over to the <a href="@Url.RouteUrl("download")">Download Page</a> to add Cassette to your ASP.NET web applications using the 
                nuget package manager, or fork the source code directory from <a href="https://github.com/andrewdavey/cassette" target="_blank">GitHub</a>.</p>
                </dd>

                <dt><a href="" class="helpquestion">Equin Ltd</a></dt>
                <dd class="helpanswer"><p>Andrew Davey owns the copyright of Cassette. He has exclusively granted Equin Limited the 
                right to sell commercial licenses and provide related technical support services.</p>
                <p>UK company number: 6347232</p>
                <p>Registered office address:<br />
                'Tregea'<br />
                Botallack<br />
                St. Just<br />
                Cornwall<br />
                TR19 7QG<br />
                United Kingdom</p></dd>
            </dl>
        </div>
        
        <form>
            <label for="licenseholder">Name of person or company to be license-holder:</label>
            <input id="licenseholder" type="text" />
            <label for="buyername">Your name (if different):</label>
            <input id="buyername" type="text" />
            <label for="servernumber">Number of servers:</label>
            <select id="servernumber">
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option> 
                <option value="6">6</option> 
                <option value="7">7</option> 
                <option value="8">8</option> 
                <option value="9">9</option> 
                <option value="10">10</option> 
                <option value="11">11</option> 
                <option value="12">12</option> 
                <option value="13">13</option> 
                <option value="14">14</option> 
                <option value="Unlimited">Unlimited&nbsp;</option> 
            </select>
            <a href="@Url.Action("buy")" class="call-to-action">Check Out &#187;</a>
            <p>Your total: <span id="totalcost">$40</span></p>
            <p id="buttonsupport">Check out via PayPal<br />(PayPal account not required)</p>
        </form>
        
        

    </div>
</div>
