@{
    ViewBag.Title = "Discount offer expired";
}

<div class="main">
    <h1>LICENSING</h1>

    <div class="content">
        <h2>Discount offer expired</h2>
        <p>Please return to the main <a href="@Url.Action("Index")">licensing page</a>.</p>
    </div>

</div>
