@{
    ViewBag.Title = "License Purchased";
}
<div class="main">
    <h1>License Purchased</h1>
    <div class="content">
        <p>Thank you for purchasing a commercial license for Cassette.</p>
        <p>Your organization can now use Cassette in any non-open source projects it creates.</p>
        <p>Your formal license document will be sent by email within the next 1-2 business days.</p>
        <p>If you have any questions about Cassette, please email Andrew Davey: <a href="mailto:andrew@equin.co.uk">andrew@equin.co.uk</a>.</p>

        <h2>Download</h2>
        <p>The easiest way to get Cassette is via nuget:<br /> <code>PM&gt; Install-Package Cassette.Web</code></p>
        <p>Alternatively, the full source code is available on <a href="https://github.com/andrewdavey/cassette">GitHub</a>.</p>
    </div>
</div>