@{
    ViewBag.Title = "Cassette | Using Cassette in .NET 3.5";
    ViewBag.Description = "How to get started with using Cassette using .NET Framework 3.5.";
}

<h1>Using Cassette in .NET 3.5</h1>

<p>Make sure to use the <code>Cassette.Aspnet.Fx35</code> Nuget package.</p>

<h2>MVC 2 &amp; Web Forms</h2>

<p>For Web Forms, the instructions remain the same.</p>

<p>For MVC2, you must remove the <code>system.web.webPages.razor</code> section from your <code>~/Views/web.config</code> file after installing <strong>Cassette.Views</strong>.</p>

<p>You can follow the same instructions for getting started with MVC 3 and Web Forms. Here is an example using MVC 2's ASPX syntax (in a <code>Site.master</code> page):</p>

<pre><code><span class="code-tag">&lt;%@@</span> <span class="tag">Master</span> <span class="attribute">Language</span><span class="attribute-value">="C#"</span> <span class="attribute">Inherits</span><span class="attribute-value">="System.Web.Mvc.ViewMasterPage"</span> <span class="code-tag">%&gt;</span>
<span class="code-tag">&lt;%</span>
    <span class="code-type">Bundles</span>.Reference(<span class="string">"scripts/lib/jquery.js"</span>);
    <span class="code-type">Bundles</span>.Reference(<span class="string">"scripts/app/home.js"</span>);
<span class="code-tag">%&gt;</span>
<span class="open-tag">&lt;!</span><span class="tag">DOCTYPE</span> <span class="attribute">html</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">html</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">head</span><span class="close-tag">&gt;</span>
    <span class="open-tag">&lt;</span><span class="tag">title</span><span class="close-tag">&gt;</span>Web App<span class="open-tag">&lt;/</span><span class="tag">title</span><span class="close-tag">&gt;</span>
    <span class="code-tag">&lt;%</span>= <span class="code-type">Bundles</span>.RenderStylesheets() <span class="code-tag">%&gt;</span>
<span class="open-tag">&lt;/</span><span class="tag">head</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">body</span><span class="close-tag">&gt;</span>
    ...
    <span class="code-tag">&lt;%</span>= <span class="code-type">Bundles</span>.RenderScripts() <span class="code-tag">%&gt;</span>
<span class="open-tag">&lt;/</span><span class="tag">body</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;/</span><span class="tag">html</span><span class="close-tag">&gt;</span>
</code></pre>