<h1>Introduction</h1>

<p>
    Cassette is an web asset management library. An asset is typically a file, such as script
    or stylesheet. Assets are grouped into bundles. A bundle is processed to produce
    an optimized output that improves the performance of your web application.
</p>

<p>
    Cassette supports three types of bundle: scripts, stylesheets and HTML templates.
</p>

<p>
    Script bundles contain JavaScript assets, such as <code>.js</code> and <code>.coffee</code> files.
</p>
<p>
    Stylesheet bundles contain CSS assets, such as <code>.css</code>, <code>.less</code> and <code>.scss</code> files.
</p>
<p>
    HTML template bundles contain <code>.htm</code> files used by client-side HTML templating libraries, such as jQuery-tmpl and Hogan.
</p>

<h2>Getting started</h2>
<p>Install the <code>Cassette.Aspnet</code> nuget package into your ASP.NET web application project.</p>
<p>This will update <code>Web.config</code> and create a new file called <code>CassetteConfiguration.cs</code>.</p>

<h2>Configuration</h2>
<p>
    Cassette needs to know what files to bundle. This requires implementing a small class using the Cassette configuration API.
</p>
<p>
    <a href="@Url.DocumentationUrl("bundle-configuration")">Learn about Configuration &raquo;</a>
</p>

<h2>Bundles helper class</h2>
<p>
    Cassette provides a simple in-page helper class called <code>Bundles</code>.
    The <code>Bundles</code> class allows a page/master/view/partial/etc to reference bundles.
    Next, the <code>Render</code> methods are used to actually generate the required HTML, such as <code>&lt;script&gt;</code> tags.
</p>
<p>
    <a href="@Url.DocumentationUrl("bundles-helper")">Learn about the Bundles helper &raquo;</a>
</p>