<h1>Cassette Documentation</h1>

<h2>Introduction</h2>

<p>
    Cassette is an web asset management library. An asset is typically a file, such as script
    or stylesheet. Assets are grouped into bundles. A bundle is processed to produce
    an optimized output that improves the performance of your web application.
</p>

<table>
    <caption>Cassette supports three types of bundles.</caption>
    <tr>
        <th> </th>
        <th>Scripts</th>
        <th>Stylesheets</th>
        <th>HTML Templates</th>
    </tr>
    <tr>
        <th>File types</th>
        <td><code>.js</code> <br/> <code>.coffee</code></td>
        <td><code>.css</code><br/> <code>.sass</code><br/><code>.scss</code><br/> <code>.less</code></td>
        <td><code>.htm</code></td>
    </tr>
</table>

