@{
    ViewBag.Title = "Upgrading from Cassette v1 to v2";
    ViewBag.Description = "How to upgrade a web application that is using Cassette v1 to Cassette v2.";
}

<h1>Upgrading from Cassette v1 to v2</h1>

<p>
    Cassette v2 feature an all-new plug-in system and number of changes to the configuration API.
    Please follow these steps to upgrade from v1 to v2.
</p>

<ol>
    <li>
        Uninstall all Cassette nuget packages from your web application.
    </li>
    <li>
        Install the <code>Cassette.Aspnet</code> nuget package
    </li>
    <li>
        Change your CassetteConfiguration class to look like this:
        <pre><code>using Cassette;
public class CassetteConfiguration : IConfiguration&lt;BundleCollection&gt;
{
    public void Configure(BundleCollection bundles)
    {
        // Call bundles.Add methods here, same as in v1
    }
}</code></pre>
    </li>
    <li>
        If you want to configure <code>CassetteSettings</code> then create another class
        that implements <code>IConfiguration&lt;CassetteSettings&gt;</code>.
    </li>
    <li>
        If using CoffeeScript, Less, Sass, etc, install the <a href="@Url.DocumentationUrl("plugins")">plug-ins</a> you require.
    </li>
    <li>
        Use the new bundle customization APIs. For example, to enable embedding images in CSS as data-URIs:
        <pre><code>bundles.Add&lt;Stylesheet&gt;("styles", b => b.EmbedImages());</code></pre>
    </li>
</ol>

<h2>Other changes</h2>
<p>The diagnostic page that used to be at <code>/_cassette</code> is now at <code>/cassette.axd</code>.</p>

<p>
    Cassette v2 uses SimpleJson instead of Newtonsoft.Json.
    This affects the <code>Bundles.AddPageData</code> method.
    The noteable difference is in JSON date formatting.
    SimpleJson defaults to using ISO 8601 date format.
</p>

<p>If you run into problems upgrading, please ask for help in the <a href="http://groups.google.com/group/cassette">Cassette Google Group</a>.</p>
