<div class="share-links">
    <div>
    <p>Share the love!</p>
    </div>
    <div class="tweet">
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://getcassette.net/" data-text="Open source automagic asset bundling for .NET web apps:" data-count="none" data-via="getcassette" data-related="andrewdavey">Tweet</a>
    </div>
    <div class="g1">
        <g:plusone size="medium" count="false" href="http://getcassette.net/"></g:plusone>
    </div>
</div>