.buypage {
    position: relative;
}

/* Choose Your License Form */

.buypage form .total {
    color: #787878;
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    width: 50%;
}

.buypage .checkout-action {
    float: left;
    width: 50%;
    text-align: center;
}

.buypage form .totalcost {
    margin-left: .3em;
    font-size: 1.2em;
    color: #171717;
}

/* Help Section */

.buyinghelp {
    padding: 5px 0 0 30em;
    min-height: 440px;
}

.buyinghelp dd {
    padding-left: 5px;
}