pre {
    padding: .5em;
    margin: 0;
}
pre code {
    font-size: 9pt;
}
code {
    font-family: Inconsolata, fixed;
}
.open-tag, .close-tag {
    color: #00a;
}
.tag {
    color: #a00;
}
.attribute {
    color: #f00;
}
.attribute-value {
    color: #00f;
}
.code-tag {
    color: #000;
    background-color: #ff8;
}
.code-type {
    color: #468EA7;
}
.string {
    color: #a00;
}
.comment {
    color: #008000;
}
.keyword {
    color: #00c;
}