pre {
    padding: .5em;
    margin: 0;
    font-family: Consolas, Inconsolata, monospace;
    font-size: 10pt;
}
code {
    font-family: Consolas, Inconsolata, monospace;    
}
.open-tag, .close-tag {
    color: #00a;
}
.tag {
    color: #a00;
}
.attribute {
    color: #f00;
}
.attribute-value {
    color: #00f;
}
.code-tag {
    color: #000;
    background-color: rgb(255,255,155);
}
.code-type {
    color: #468EA7;
}
.string {
    color: #a00;
}
.comment {
    color: #008000;
}
.keyword {
    color: #00c;
}
.razor-expression {
    background-color: rgb(231,239,242);
}