.contactpage {
    position: relative;
}

/* Enquiry Form */

#enquiryform button {
    clear: left;
}

#enquiryform button {
    float: left;
}

#enquiryform .buttonsupport {
    float: left;
    margin-top: 4px;
    text-align: left;
}

/* Contact Details */

#contactdetails {
    padding: 5px 0 0 30em;
    min-height: 480px;
}
