/* @reference "page.css"; */

.main .documentation {
    display: table;
    width: 100%;
    padding: 0;
    background-color: #fafafa;
    margin-top: 2em;
}

.main .documentation h1 {
    color: #323231;
    text-shadow: none;
    margin: .0 0 .2em 0;
    font-size: 2em;
}

.documentation h2 {
    margin: 0 0 .5em 0;
}

.main pre + h2 {
    margin-top: 1.5em;
}

.documentation .tree {
    display: table-cell;
    padding: 0 1.5em;
    width: 220px;
    border-left: 1px solid #ccc;
    vertical-align: top;
    background-color: #f0f0f0;
    border-radius: 0 10px 10px 0;
    font-size: 11pt;
}

.tree h2 {
    margin-top: 1.8em;
}

.documentation .item {
    display: table-cell;
    padding: 2em;
    vertical-align: top;
}

.tree ul {
    padding: 0;
    margin: 0;
}

.tree li {
    display: block;
    list-style-type: none;
    background-image: url(images/page.png);
    background-repeat: no-repeat;
    background-position: left 0;
    padding: 0 0 5px 20px;
    line-height: 16px;
    margin: 5px 0;
}

.tree li > ul {
    margin-top: 10px;
}

.documentation pre {
    border: 1px solid #ccc;
    margin-bottom: .5em;
}