/* @reference "page.css"; */

.activedoc {
    font-weight: bold;    
}

.main .documentation {
    display: table;
    width: 100%;
    padding: 0;
    background-color: #fafafa;
}

.documentation .tree {
    display: table-cell;
    padding: 1.7em 1.6em;
    width: 220px;
    border-right: 1px solid #ccc;
    vertical-align: top;
    background-color: #f0f0f0;
    border-radius: 10px 0 0 10px;
    font-size: 11pt;
}

.tree h3 {
    font-size: 1.3em;
}

.tree ul {
    padding: 0;
    margin: 0;
}

.tree li {
    display: block;
    list-style-type: none;
    background-image: url(images/page.png);
    background-repeat: no-repeat;
    background-position: left 0;
    padding: 0 0 5px 20px;
    line-height: 16px;
    margin: 5px 0;
}

.tree li > ul {
    margin-top: 10px;
}

.documentation .item {
    display: table-cell;
    padding: 1.7em 2.3em;
    vertical-align: top;
}

.main pre + h3 {
    margin-top: 1.8em;
}

.main pre + p {
    margin-top: 1.4em;
}

.documentation pre {
    border: 1px solid #ccc;
    margin-bottom: .5em;
    padding: 15px 20px;
}

#disqus_thread {
    margin-top: 1.8em;
}