.footer {
    width: 960px;
    margin: 0em auto 2em auto;
}

.footer ul {
    list-style-type: none;
}

.footer p {
    text-align: center;
    font-size: .9em;
    color: #919191;
    margin-bottom: 0.6em;
}

.footer a {
    color: #737373;
}

.footer a:hover {
    color: #383838;
}

/* OSI LOGO */

.osi {
    display: block;
    float: right;
    height: 108px;
    width: 68px;
    background-image: url(images/osi-logo.png);
    background-repeat: no-repeat;
    background-position: right 15px;
    opacity: 0.8;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity .5s;
}

.osi:hover {
    text-decoration: none;
    opacity: 1;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity .5s;
}