.footer {
    width: 960px;
    margin: 0em auto 2em auto;
}

.footer p {
    text-align: center;
    font-size: .8em;
    color: #919191;
    margin-bottom: 0.6em;
}

.footer a {
    color: #737373;
}

.footer a:hover {
    color: #383838;
}

/* Twitter Icon in Footer */

#twittericon {
    display: block;
    margin: 0 auto;
    height: 16px;
    width: 30px;
    background-image: url(images/twittericon.png);
    background-position: 0 0;
}

a#twittericon:hover {
    background-position: 0 -16px;
}