/* @reference "http://fonts.googleapis.com/css?family=Droid+Sans:700|Inconsolata"; */

/* Banner */

.banner {
    max-width: 960px;
    margin: 0 auto;
    min-height: 390px;
}

.banner h1 {
    font-size: 2.4em;
    letter-spacing: -1px;
    margin: .9em 0 .75em 0;
    padding-top: 10px;
}

.banner .about {
    display: table;
}

.banner .intro, .banner .screencast {
    display: table-cell;
    vertical-align: top;
}

.banner .intro {
    padding-right: 1em;
}

.intro a {
    font-size: 1em;
}

.banner .screencast {
    width: 172px;
    background-color: #7ab0d5;
    padding: 30px;
    border: solid 1px #0a517d;
}

.banner p {
    color: #fff;
    margin: 0 0 1em 0;
    font-size: 1.3em;
    text-shadow: 0 1px 0 #01456D;
}

.screencast p {
    color: Black;
    font-size: 1em;
    text-shadow: none;
}

/* Secondary Content */

.home-main {
    max-width: 960px;
    margin: 0 auto;
}

.section {
    clear: left;
    margin-bottom: 1.8em;
    display: table;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    background-color: #fafafa;
}

.file-details {
    width: 300px;
    padding: 20px 25px 10px 25px;
    display: table-cell;
    vertical-align: top;
}

.file {
    background-color: #fff;
    border-left: 1px solid #ccc;
    display: table-cell;
    vertical-align: top;
    padding: 20px 25px;
}

.section ul {
    padding-left: 1.5em;
}

.section li {
    margin-bottom: .3em;
}

p.minor {
    font-size: .8em;
    color: #888;
}

p.minor a {
    color: #839FC5;
}

p.minor a:hover {
    color: #4d688d;
}

.more {
    padding: 20px 25px;
}
