/* @reference "http://fonts.googleapis.com/css?family=Droid+Sans:700"; */

.banner {
    max-width: 960px;
    margin: 0 auto;
    min-height: 390px;
}
.banner h1 {
    font-family: "Droid Sans" , sans-serif;
    color: #fff;
    font-size: 3.4em;
    text-shadow: 0 1px 0 #323231;
    letter-spacing: -1px;
    margin: .75em 0;
}
.banner .about {
    display: table;
}
.banner .intro, .banner .screencast {
    display: table-cell;
    vertical-align: top;
}
.banner .intro {
    padding-right: 1em;
}
.banner .screencast a {
    display: block;
    width: 272px;
    height: 204px;
    border-radius: 3px;
    background-image: url(images/screencast.jpg);
    text-align: center;
    font-weight: bold;
    color: #000;
    line-height: 100px;
    text-decoration: none;
    font-size: 1.5em;
    box-shadow: #ddd 0 0 4px;
    text-shadow: #777 0 0 3px;
}
.banner p {
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 1px 0 #01456D;
    margin: 0 0 1em 0;
}
.download {
    -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
    background: -moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
    background-color: #89c403;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #74b807;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #528009;
    margin-right: 1em;
}
.download:visited {
    color: #ffffff;
}
.download:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #90CC04), color-stop(1, #77a809) );
    background: -moz-linear-gradient( center top, #90CC04 5%, #77a809 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90CC04', endColorstr='#77a809');
}
.download:active {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
    background: -moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
    background-color: #77a809;
}

.home-main {
    max-width: 960px;
    margin: 0 auto;
}
.home-main h2 {
    font-family: "Droid Sans" , sans-serif;
    font-size: 1.3em;
    color: #323231;
    margin: 0 0 .5em 0;
}
.section {
    clear: left;
    margin-bottom: 1em;
    display: table;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    background-color: #fafafa;
}
.file-details {
    width: 305px;
    padding: 10px;
    display: table-cell;
    vertical-align: top;
    border-radius: 3px 0 0 3px;
}
.file {
    background-color: #fff;
    border-left: 1px solid #ccc;
    display: table-cell;
    vertical-align: top;
    border-radius: 0 3px 3px 0;
}
.section ul {
    padding-left: 1.5em;
}
.section li {
    margin-bottom: .3em;
}
p.minor {
    font-size: .8em;
    color: #888;
}
p.minor a {
    color: #839FC5;
}
p.minor a:hover {
    color: #00e;
}
.more {
    padding: 10px;
}