/* BANNER */

.banner {
    max-width: 960px;
    margin: 0 auto;
    min-height: 375px;
    position: relative;
}

.banner h1 {
    letter-spacing: -1px;
    margin: .9em 0 .75em 0;
    padding-top: 10px;
}

.intro a {
    font-size: 1em;
}

.banner p {
    color: #fff;
    margin: 0 0 1em 0;
    font-size: 1.3em;
    text-shadow: 0 1px 0 #01456D;
}

/* SPREAD THE WORD */

.banner .share-links {
    top: 22px;
}

/* FAV TWEETS */

.favtweets {
    width: 235px;
    float: right;
    margin-top: 1.8em;
    margin-left: 3em;
    height: 350px;
}

.tweets {
    position: absolute;
    top: 75px;
}

.favtweets h2 {
    font-family: Helvetica;
    color: #fff;
    padding-left: 1.4em;
    font-size: 1.2em;
    margin-bottom: 1.1em;
}

.favtweets img {
    margin-right: 0.6em;
}

.favtweets p.tweet {
    font-size: 0.9em;
    line-height: 1.6em;
    color: #fff;
    text-shadow: none;
    margin-bottom: 0.3em;
}

.favtweets p.tweeter {
    font-size: 0.9em;
    color: #2A2A2A;
    text-shadow: none;
    margin-bottom: 1.5em;
}

.tweet a {
    color: #fff;
}

.tweet a:hover {
    color: #EBEBEB;
}

.tweeter a {
    color: #2A2A2A;
}

.tweeter a:hover {
    color: #000;
}

/* Secondary Content */

.home-main {
    max-width: 960px;
    margin: 0 auto;
}

.section {
    clear: left;
    margin-bottom: 1.8em;
    display: table;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    background-color: #fafafa;
}

.file-details {
    width: 275px;
    padding: 25px 25px 20px 25px;
    display: table-cell;
    vertical-align: top;
}

.file-details p {
    margin-bottom: 0.6em;
}

.file {
    background-color: #fff;
    border-left: 1px solid #ccc;
    display: table-cell;
    vertical-align: top;
    padding: 30px 10px 20px 20px;
}

.section ul {
    padding-left: 1.5em;
}

.section li {
    margin-bottom: .3em;
}

p.minor {
    font-size: .8em;
    color: #888;
}

p.minor a {
    color: #839FC5;
}

p.minor a:hover {
    color: #4d688d;
}

.more {
    padding: 25px 25px 30px 25px;
}
