/* @reference "http://fonts.googleapis.com/css?family=Droid+Sans:700|Inconsolata"; */

html {
    background: #f0f0f0 url(images/contentnoise.png) repeat top center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/background.jpg) repeat-x top center;
}

.main {
    max-width: 960px;
    margin: 0 auto 1.5em auto;
    position: relative;
}

.content {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 10px;
    min-height: 300px;
    box-shadow: #aaa 0 0 3px;
}

h1, h2, h3 {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

h1 {
    padding: 0.2em 0 0 0;
    color: #fff;
    font-size: 1.9em;
    text-shadow: 0 1px 0 #323231;
    margin: .75em 0;
    letter-spacing: -1px;
}

h2 {
    color: #03517e;
    font-size: 1.2em;
    margin: 0px 0px .75em 0px;
}

h3 {
    font-size: 0.9em;
    margin: 0px 0px .75em 0px;
}

.home-main p, .content p, li {
    color: #171717;
    margin: 0 0 1em 0;
    font-size: 0.9em;
    line-height: 1.8em;
}

p.last {
    margin-bottom: 0;
}

p + h2 {
    margin-top: 1.6em;
}

a {
    color: #2b5a01;
    text-decoration: underline;
    opacity: 0.7;
    filter: alpha(opacity=75); /* IE 7, IE8 */
    -moz-transition: opacity .2s; /* Firefox */
    -webkit-transition: opacity .2s; /* Chrome, Safari */
}

a:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* IE 7, IE8 */
    -moz-transition: opacity .2s; /* Firefox */
    -webkit-transition: opacity .2s; /* Chrome, Safari */
}

/* SPREAD THE WORD */

.share-links {
    position: absolute;
    top: 17px;
    right: 0;
    color: #fff;
}

.share-links div {
    float: left;
    padding-left: 10px;
}

.share-links p {
    font-size: 1em;
    margin: 0 5px 0 0;
    text-shadow: 0 1px 0 #01456D;
    font-weight: bold;
    padding-top: 1px;
}
