.top {
    background-image: url(images/topnoise.png);
}

.top-wrap {
    height: 112px;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.logo a {
    display: block;
    height: 84px;
    width: 270px;
    padding-top: 28px;
    background-image: url(images/cassette-logo.png);
    background-repeat: no-repeat;
    background-position: left top;
    opacity: 0.9;
    filter: alpha(opacity=90); /* IE 7, IE8 */
    -moz-transition: opacity .5s; /* Firefox */
    -webkit-transition: opacity .5s; /* Chrome, Safari */
}

.logo a:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* IE 7, IE8 */
    -moz-transition: opacity .5s; /* Firefox */
    -webkit-transition: opacity .5s; /* Chrome, Safari */
}

/* MAIN NAVIGATION */

.links {
    position: absolute;
    right: 0;
    top: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links li {
    float: left;
    padding: 0 0 0 40px;
}

li#last {
    padding: 0 0 0 35px;
}

.links a {
    display: block;
    height: 76px;
    padding-top: 36px;
    -moz-transition: opacity 0.5s; /* Firefox */
    -webkit-transition: opacity 0.5s; /* Chrome, Safari */
}

.top .links a:hover {
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

a.active, li.active a {
    opacity: 1;
    filter: alpha(opacity=100); /* IE 7, IE8 */
}
