.topwrap {
    background-image: url(images/topnoise.png);
}

.top {
    height: 77px;
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    display: block;
    height: 77px;
    width: 251px;
    background-image: url(images/cassette-logo-new.png);
    background-repeat: no-repeat;
    background-position: left 16px;
}

.logo:hover {
    text-decoration: none;
}

.logo:visited {
    color: #EFEFEF;    
}

.top .wrap {
    position: relative;
}

.top .links {
    position: absolute;
    right: 0;
    top: 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    display: table;
}

.top .links li {
    list-style-type: none;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px;
}

#tweet, #g1 {
    padding-top: 5px;
}

#g1 {
    padding-left: 6px;
    padding-right: 35px;
}

.top .links a {
    display: block;
    height: 47px;
    padding-top: 32px; 
    color: #B4B4B4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.active {
    background-image: url(images/activemarker.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.top .links a:hover {
    color: #fff;
}