.topwrap {
    background-image: url(images/topnoise.png);
}

.top {
    height: 112px;
    max-width: 960px;
    margin: 0 auto;
}

.top .wrap {
    position: relative;
}

.logo {
    display: block;
    padding-top: 28px;
    height: 85px;
    width: 270px;
    background-image: url(images/cassette-logo.png);
    background-repeat: no-repeat;
    background-position: left top;
    opacity: 0.9;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
}

.logo:hover {
    text-decoration: none;
    opacity: 1;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
}

/* MAIN NAVIGATION */

.top .links {
    position: absolute;
    right: 0;
    top: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
    display: table;
}

.top .links li {
    list-style-type: none;
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px 0 15px;
}

.top .links a {
    display: block;
    height: 64px;
    padding-top: 50px;
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    text-transform: uppercase;
    font-weight: bold;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

a#features-link {
    background-image: url(images/features-icon.png);
    background-repeat: no-repeat;
    background-position: center 37px;
}
a#download-link {
    background-image: url(images/download-icon.png);
    background-repeat: no-repeat;
    background-position: center 37px;
}

a#docs-link {
    background-image: url(images/docs-icon.png);
    background-repeat: no-repeat;
    background-position: center 37px;
}
a#support-link {
    background-image: url(images/support-icon.png);
    background-repeat: no-repeat;
    background-position: center 37px;
}
a#donate-link {
    background-image: url(images/donate-icon.png);
    background-repeat: no-repeat;
    background-position: center 37px;
}

/*
.top .links li.active {
    background-image: url(images/activemarker2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
*/

.top .links a:hover {
     opacity: 0.9;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.top .links li.active a {
    opacity: 1;
    color: #fff;
}
