@{
    Layout = null;
    Bundles.Reference("Content");
    Bundles.Reference("Scripts");
}
<!DOCTYPE html>
<html>
    <head>
        <title>Precompiled Cassette Sample</title>
        @Bundles.RenderStylesheets()
        @Bundles.RenderScripts()
    </head>
    <body>
        
    </body>
</html>