<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        @Cassette.RequireJS.ViewHelper.RequireJsScript()
        <script>
            require(["Scripts/page1/init"]);
        </script>
    </head>
    <body>
    </body>
</html>