@{
    ViewBag.Title = "Get in contact with Cassette project";
    ViewBag.Section = "contact";
    Bundles.Reference("http://platform.twitter.com/widgets.js", "body");}

<div class="main">

    <h1>Contact</h1>
    <div class="content">
        <p>Cassette is an open source project, maintained by Andrew Davey (andrew@equin.co.uk).</p>
        <h2>Questions and discussion</h2>
        <p>Looking for help or want to talk about Cassette?</p>
        <p>Please join the <a href="http://groups.google.com/group/cassette">Cassette Google Group</a>.</p>

        <h2>Bugs and feature requests</h2>
        <p><a href="https://github.com/andrewdavey/cassette/issues">Create an Issue</a> over on the Cassette GitHub repository.</p>
        <p>Pull requests are always very welcome!</p>

        <h2>Twitter</h2>
        <p>
            For the latest announcements about Cassette:
            <br/>
            <a href="http://twitter.com/getcassette" class="twitter-follow-button">Follow @@getcassette</a>
        </p>
        <p>
            For all kinds of .NET development chatter:
            <br/>
            <a href="http://twitter.com/andrewdavey" class="twitter-follow-button">Follow @@andrewdavey</a>
        </p>
    </div>

</div>