@{
    ViewBag.Title = "Cassette | Contact";
    ViewBag.Description = "Get in touch with us here for questions, discussion, feature requests and support, or talk to us on Twitter!";
    ViewBag.Section = "contact";
    Bundles.Reference("http://platform.twitter.com/widgets.js", "body");}

<div class="main">
    <h1>Contact</h1>
    <div class="content contactpage">
        <div id="contactdetails">
            <p>Cassette is an open source project, created and maintained by <a target="_blank" href="http://aboutcode.net/">Andrew Davey</a>.</p>

            <h3>Email</h3>
            <p><a href="mailto:andrew@equin.co.uk">andrew@equin.co.uk</a></p>
            
            <h3>Questions and discussion</h3>
            <p>Looking for help or want to talk about Cassette? Join the <a href="http://groups.google.com/group/cassette">Cassette Google Group</a>.</p>

            <h3>Bugs and feature requests</h3>
            <p><a href="https://github.com/andrewdavey/cassette/issues">Create an issue</a> over on the Cassette GitHub repository. Pull requests are 
            always very welcome!</p>

            <h3>Twitter</h3>
            <p>
                For the latest announcements about Cassette:
                <br/>
                <a href="http://twitter.com/getcassette" class="twitter-follow-button">Follow @@getcassette</a>
            </p>
            <p>
                For all kinds of .NET development chatter:
                <br/>
                <a href="http://twitter.com/andrewdavey" class="twitter-follow-button">Follow @@andrewdavey</a>
            </p>

        </div>
    </div>

</div>