@{
    ViewBag.Title = "Contact Cassette";
    ViewBag.Section = "contact";
    Assets.Scripts.Reference("http://platform.twitter.com/widgets.js", "body");
}

<div class="main">
    <h1>Contact</h1>
    <div class="content contactpage">
        <h2>Make an Enquiry</h2>
        <form id="enquiryform">
            <label for="name">Name:</label>
            <input type="text" id="name" />
            <label for="email">Email address:</label>
            <input type="text" id="email"/>
            <label for="enquiry">Your enquiry:</label>
            <textarea name="enquiry" cols=52 rows=6></textarea>
            <button type="submit" class="action">Submit &#187;</button>
                <p class="buttonsupport">We'll get back to you<br />as quickly as possible.</p>
        </form>
        <div id="contactdetails">
            <p>Cassette is an open source project, created and maintained by <a target="_blank" href="http://aboutcode.net/">Andrew Davey</a>.</p>
            <p><strong>Email:</strong> <a href="mailto:andrew@equin.co.uk">andrew@equin.co.uk</a></p>
            
            <h3>Questions and discussion</h3>
            <p>Looking for help or want to talk about Cassette? Join the <a href="http://groups.google.com/group/cassette">Cassette Google Group</a>.</p>

            <h3>Bugs and feature requests</h3>
            <p><a href="https://github.com/andrewdavey/cassette/issues">Create an issue</a> over on the Cassette GitHub repository. Pull requests are 
            always very welcome!</p>
            <!--
            <h3>Twitter</h3>
            <p>
                For the latest announcements about Cassette:
                <br/>
                <a href="http://twitter.com/getcassette" class="twitter-follow-button">Follow @@getcassette</a>
            </p>
            -->
        </div>
    </div>

</div>