@{
    ViewBag.Title = "Cassette | Download";
    ViewBag.Description = "Download Cassette using the NuGet package manager or by forking the source code from GitHub";
    ViewBag.Section = "download";    
    Bundles.Reference("http://gitforked.com/api/1.1/button.js", "body");}

<div class="main">
    <h1>Download</h1>
    <div class="content">
        <p>Cassette is distributed under the GPL. <strong>Please read the <a href="/licensing">licensing information</a> before using Cassette.</strong></p>

        <p>Add <code>Cassette.Web</code> to your ASP.NET web application, using the <a href="http://nuget.org/">NuGet package manager</a>.</p>
        <div class="commandWrapper">
            <div class="commandPrompt">
                <p class="command">PM&gt; Install-Package Cassette.Web</p>
            </div>
        </div>
        <p>Alternatively, fork the source code directly from the GitHub repository:</p>
        <p><a href="https://github.com/andrewdavey/cassette" class="gitforked-button gitforked-forks gitforked-watchers">Fork</a></p>

        <h2>Getting Started</h2>
        <p>Cassette should work out of the box, without much configuration. The documentation has a handy getting started guide.</p>
        <p><a class="action" href="@Url.DocumentationUrl("getting-started")">Read 'Getting Started' &#187;</a></p>
    </div>
</div>
