@{
    ViewBag.Title = "Cassette | Download";
    ViewBag.Description = "Download Cassette using the NuGet package manager or by forking the source code from GitHub";
    ViewBag.Section = "download";    
    Bundles.Reference("http://gitforked.com/api/1.1/button.js", "body");}

<div class="main">
    <h1>Download</h1>
    <div class="content">
        <div class="donate">
            <p>Please support Cassette!</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="BHWGCCJFY3BP4">
                <button type="submit" class="call-to-action">Donate</button>
            </form>
        </div>

        <p>Add <code>Cassette.Web</code> to your ASP.NET web application, using <a href="http://nuget.org/">NuGet</a>.</p>
        <pre>PM&gt; Install-Package Cassette.Web</pre>

        <h2>Source Code</h2>
        <p>Alternatively, fork the source code directly from the GitHub repository:</p>
        <p><a href="https://github.com/andrewdavey/cassette" class="gitforked-button gitforked-forks gitforked-watchers">Fork</a></p>

        <h2>Getting Started</h2>
        <p>Cassette should work out of the box, without much configuration. The documentation has a handy getting started guide.</p>
        <p><a class="action" href="@Url.DocumentationUrl("getting-started")">Read 'Getting Started' &#187;</a></p>

        <h2>License</h2>
        <p>Cassette is free, open source software, distributed under the <a href="@Url.RouteUrl("Licensing")">MIT License</a></p>
    </div>
</div>
