@{
    ViewBag.Title = "Download Cassette";
    Assets.Scripts.Reference("http://gitforked.com/api/1.1/button.js", "body");
}

<div class="main">
    <h1>Download Cassette</h1>
    <div class="content">
        <p>Add <code>Cassette.Web</code> to your ASP.NET web application, using the <a href="http://nuget.org/">nuget package manager</a>.</p>
        <div class="commandWrapper">
            <div class="commandPrompt">
                <p class="command">PM&gt; Install-Package Cassette.Web</p>
            </div>
        </div>
        <p>Alternatively, fork the source code directly from the GitHub repository:</p>
        <p><a href="https://github.com/andrewdavey/cassette" class="gitforked-button gitforked-forks gitforked-watchers">Fork</a></p>

        <h2>Configuration</h2>
        <p>
        The nuget package will create a file called <code>CassetteConfiguration.cs</code>
        in the root of your web application project.
        Cassette will work without configuration, but it's recommended that you create one
        to meet the needs of your application.
        </p>
        <p>Read the <a href>="@Url.RouteUrl("Documentation", new{path="configuration"})">Configuration Documentation</a>.</p>
        <p>
        <code>Views\Web.config</code> is updated to make the <code>Cassette.UI</code>
        namespace available in view pages. If using MVC areas then you will need to copy the
        namespace addition from
        <code>&lt;configuration&gt;/&lt;system.web.webPages.razor&gt;/&lt;pages&gt;/&lt;namespaces&gt;</code>
        into each area's <code>Web.config</code>.
        </p>
    </div>
</div>
