@{
    ViewBag.Title = "FAQs";
    ViewBag.Section = "faqs";    
}

<div class="main">
    <h1>FAQs</h1>
    <div class="content">
        <p>Our FAQs are under construction... they'll be here shortly!</p>
    </div>
</div>