@{
    ViewBag.Title = "Features";
    ViewBag.Section = "features";
}

<div class="main">
    <h1>Features</h1>
    <div class="content">
        <p><em>Under development... please check back soon!</em></p>
    </div>
</div>
