@{
    ViewBag.Title = "Licensing";
}

<div class="main">
    <h1>Licensing</h1>
    <div class="content">
        <p>Cassette is Free Open Source software, distributed under the <a target="_blank" href="http://www.gnu.org/licenses/gpl.txt">GNU General Public License</a>.</p>
        <p>Please note: A FOSS license exception is included in the Cassette license. This means you can use Cassette in
        a project that has any <a href="http://www.opensource.org/licenses">OSI approved license</a> (MIT, BSD, Apache-2.0, etc).</p>

        <h2>Commercial Use</h2>
        <p>Using Cassette in non-open source software requires a separate commercial license.</p>
        <p>A commercial license can be purchased from Andrew Davey, the creator and copyright holder of Cassette.</p>
        <p>At this time, the commercial license offering is still under development. Please contact Andrew Davey
        (andrew@equin.co.uk) for more information.</p>
        <p>This web page will be updated soon with pricing and other details.</p>

        <h2>Commercial Support</h2>
        <p>A commercial support offering is under development. More details will be published soon.</p>
    </div>
</div>