@{
    ViewBag.Title = "Resources";
    ViewBag.Description = "Handy downloadable Cassette logos for super keen bloggers and web publicists. And because we like Cassettes.";
}

<div class="main">
    <h1>Resources</h1>
    <div class="content">
        <p><em>Under development... please check back soon!</em></p>
    </div>
</div>