@{
    ViewBag.Title = "Resources";
}

<div class="main">
    <h1>Resources</h1>
    <div class="content">
        <p><em>Under development... please check back soon!</em></p>
    </div>
</div>