@{
    ViewBag.Title = "Cassette Support";
    ViewBag.Description = "Both commercial and community support are available for Cassette";
    ViewBag.Section = "support";
}

<div class="main">
    <h1>Support</h1>
    <div class="content">
        
        <h2>Community Support</h2>
        <p>Got a question about using Cassette? Ask for help in the <a target="_blank" href="http://groups.google.com/group/cassette">Cassette Google Group</a>.</p>
        <p>If you find a bug in Cassette, the best way to let us know is by <a href="https://github.com/andrewdavey/cassette/issues" target="_blank">creating 
        an issue</a> over on GitHub.</p>

        <h2>Commercial Support</h2>
        <p>Are you using Cassette in a commercial website or enterprise application? Would you like direct, live support from the creator of Cassette?</p>
        <p>Purchasing commercial support provides you with:</p>
        <ul>
            <li>Communication with Cassette's creator, Andrew Davey, via IM, Skype and telephone</li>
            <li>Advice on customizing Cassette to meet your specific requirements</li>
            <li>Priority feature requests and bug fixes</li>
        </ul>
        <p>Please email Andrew Davey at <a href="mailto:andrew@equin.co.uk">andrew@equin.co.uk</a> to discuss your support needs.</p>

    </div>
</div>
