@{
    ViewBag.Title = "Cassette | Bundle Descriptor File";
    ViewBag.Description = "How to use Cassette's bundle descriptor file to manage your assets.";
}

<h1>Bundle Descriptor File</h1>
<p>As an alternative to adding special reference comments into your assets, Cassette supports a "bundle descriptor file".
Adding a file called <code>bundle.txt</code> to a bundle folder, alongside your assets, allows you to manually define
the order of assets in the bundle.</p>
<p>This is especially useful when creating a bundle of third-party scripts. It's not ideal to modify them as they
tend to get entirely overwritten when updated to newer versions.</p>
<p>At its simplest, a bundle descriptor is just a list of filenames, relative to the bundle directory.</p>
<pre><code>jquery.js
jquery-ui.js
underscore.js
knockout.js</code></pre>

<h2>Wildcard</h2>
<p>Cassette supports the use of <code>*</code> as a wildcard to include all files in the bundle directory that haven't been explicitly defined.</p>
<p>This is useful when only one or two of the assets in the bundle need including in a specific order - for example, ensuring that jQuery is included before any of its plugins.</p>
<pre><code>jquery.js
file1.js
*</code></pre>

<h2>Bundle references</h2>
<p>If your bundle depends on other bundles, then add a references section.</p>
<pre><code>file1.js
file2.js

[references]
~/scripts/lib
~/scripts/widgets</code></pre>

<h2>Page location</h2>
<p>You can set a page location for the bundle (for example if it is a script that needs to be rendered in &lt;head&gt; rather than &lt;body&gt;) by setting the pageLocation in the bundle section.</p>
<pre><code>file1.js

[bundle]
pageLocation = head</code></pre>

<h2>External bundles</h2>
<p>
You may want to use a <abbr title="Content Delivery Network">CDN</abbr> in production, but have the debug-friendly sources available during development.
</p>
<p>Here's a example bundle descriptor file for jQuery, which we are putting into it's own bundle.</p>
<pre><code>[external]
url = //ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js
fallbackCondition = !window.jQuery

[assets]
jquery.js</code></pre>
<p>In a page, we can reference this as:</p>
<pre><code><span class="code-type">Bundles</span>.Reference(<span class="string">"~/scripts/jquery"</span>);</code></pre>
<p>So in debug-mode, we just get a regular local script tag generated:</p>
<pre><code><span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">src</span><span class="attribute-value">="/scripts/jquery/jquery.js?a4babad4b"</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span><span class="open-tag">&lt;/</span><span class="tag">script</span><span class="close-tag">&gt;</span></code></pre>
<p>In production-mode, we get the CDN URL, plus a conditional fallback to our own copy of the script.</p>
<pre><code><span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">src</span><span class="attribute-value">="//ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span><span class="open-tag">&lt;/</span><span class="tag">script</span><span class="close-tag">&gt;</span>
<span class="open-tag">&lt;</span><span class="tag">script</span> <span class="attribute">type</span><span class="attribute-value">="text/javascript"</span><span class="close-tag">&gt;</span>
if (!window.jQuery) {
document.write(unescape('%3Cscript src="/_assets/scripts/scripts/jquery_a4babad4b" type="text/javascript"%3E%3C/script%3E'));
}
<span class="open-tag">&lt;/</span><span class="tag">script<span class="close-tag">&gt;</span></span>
</code></pre>
