@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (string.IsNullOrEmpty(ViewBag.Title))
    {
        ViewBag.Title = "Cassette | Documentation";
    }
    if (string.IsNullOrEmpty(ViewBag.Description))
    {
        ViewBag.Description = "A complete guide to the ins and outs of using Cassette in your projects, with comments via Disqus";
    }
    ViewBag.Section = "documentation";
    Bundles.Reference("assets/scripts/disqus");
}
<div class="main">
    
    <div id="documentationheader">Documentation</div>
    
    @Html.Partial("_Share")

    <div class="content documentation">
       
        @Html.Partial(ViewContext.RouteData.Values["version"] +  "/_Tree")

        <div class="item">
            @RenderBody()
            @if (!Request.IsLocal)
            {
            <div id="disqus_thread"></div>
            }
        </div>
    </div>
</div>