@{
    ViewBag.Title = "Cassette Plugins";
    ViewBag.Description = "Plugins extend Cassette to add features such as CoffeeScript and SASS support.";
}

<h1>Cassette Plugins</h1>

<p>The following plugins for Cassette are available and can be installed via nuget:</p>

<table>
    <tr>
        <th>Name (nuget package)</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Cassette.Aspnet.Jasmine</td>
        <td>Adds a <a href="http://pivotal.github.com/jasmine/">Jasmine</a> test runner at the URL <code>/jasmine.axd</code></td>
    </tr>
    <tr>
        <td>Cassette.CoffeeScript</td>
        <td>Enables compilation of <code>.coffee</code> files into JavaScript</td>
    </tr>
    <tr>
        <td>Cassette.Hogan</td>
        <td>Compiles <a href="http://twitter.github.com/hogan.js/">Hogan.js</a> HTML templates into JavaScript</td>
    </tr>
    <tr>
        <td>Cassette.JQueryTmpl</td>
        <td>Compiles jQuery-tmpl HTML templates into JavaScript</td>
    </tr>
    <tr>
        <td>Cassette.Less</td>
        <td>Compiles <a href="http://www.dotlesscss.org/">Less</a> stylesheets into CSS.</td>
    </tr>
    <tr>
        <td>Cassette.Sass</td>
        <td>Compiles <a href="http://sass-lang.com/">Sass</a> stylesheets into CSS.</td>
    </tr>
    <tr>
        <td><a href="@Url.DocumentationUrl("stylesheets/image-spriting")">Cassette.Spriting</a></td>
        <td>Automatically sprites CSS images</td>
    </tr>
</table>