@{
    ViewBag.Title = "Cassette | LESS";
}

<h1>LESS CSS</h1>
<p>Cassette has built-in support for <a href="http://lesscss.org/">LESS - the dynamic stylesheet language</a>.</p>
<p>
Add <code>.less</code> files to your web application.
Cassette will compile them into CSS and include in bundles with your other stylesheets.
</p>
<p>
<strong>Important:</strong> All <code>.less</code> files must have their Build Action set to <code>Content</code> so they will get deployed with the web application.
</p>
<ol>
    <li>Select the files in the Visual Studio Solution Explorer</li>
    <li>Right-click &gt; Properties</li>
    <li>In the Properties window, set Build Action to <code>Content</code></li>
</ol>

<h2>References</h2>
<p>Reference the other assets a LESS file depends on using following special comment syntax:</p>
<pre><code><span class="comment">// @@reference reset.css</span>
<span class="comment">// @@reference other.less "optional-quoted-filename.css"</span>
<span class="comment">// @@reference ~/app/relative.css</span></code></pre>
<p>or</p>
<pre><code><span class="comment">/* @@reference another.css */</span></code></pre>
<p>Reference paths are relative to the current LESS file.</p>