@{
    Layout = null;
    Bundles.Reference("styles/embeddables/images");
}
<!doctype html>
<html>
<head>
    <title>Embeddables - Images</title>
    @Bundles.RenderStylesheets()
</head>
<body>
    <h1>Example</h1>
</body>
</html>