@{
    Bundles.Reference("twitter");
}
<p>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://getcassette.net/" data-text="Automagic asset bundling for .NET web apps" data-count="horizontal" data-via="andrewdavey">Tweet</a>
</p>
