<h1>Add per individual file</h1>

<p>
    The <code>BundleCollection.AddPerIndividualFile</code> method adds a separate bundle for each
    individual file found in the given path.
</p>

<pre><code>bundles.AddPerIndividualFile&lt;ScriptBundle&gt;("Scripts");</code></pre>

<p>The path is relative to the web application's root directory.</p>

<p>The method also includes optional parameters to specify a <code>FileSearch</code> and bundle customization delegate.</p>