<h1>Customizing bundles</h1>

<p>When adding bundles to the <code>BundleCollection</code> you may to customize the created <code>Bundle</code> objects.</p>

<p>The <code>Add</code> methods are overloaded to accept an optional bundle customization delegate.</p>

<p>Here's an example that changes the <code>PageLocation</code> property of the bundles.</p>

<pre><code><span class="keyword">public</span> <span class="keyword">class</span> <span class="code-type">CassetteConfiguration</span> : <span class="code-type">IConfiguration</span>&lt;<span class="code-type">BundleCollection</span>&gt;
{
    <span class="keyword">public</span> <span class="keyword">void</span> Configure(<span class="code-type">BundleCollection</span> bundles)
    {
        bundles.AddPerSubDirectory&lt;<span class="code-type">ScriptBundle</span>&gt;(
            <span class="string">"Scripts"</span>,
            bundle => bundle.PageLocation = <span class="string">"body"</span>
        );
    }
}</code></pre>