@{
    Html.ReferenceStylesheet("styles/app/site.css");
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.RenderStylesheetLinks()
    @Html.RenderScripts()
</head>
<body>
    @RenderBody()
</body>
</html>