@{
    Html.ReferenceScript("http://platform.twitter.com/widgets.js", location: "body");    
}
<p>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://aboutcode.net/cassette" data-text="Automatic JavaScript dependency management for ASP.NET" data-count="horizontal" data-via="andrewdavey">Tweet</a>
</p>
