@{
    // Partial views can also reference resources.
    // They will be included into the page HTML by Knapsack.
    // (This includes clever stuff like inserting into <head> after it's been rendered!)
    Html.ReferenceScript("scripts/color-picker/init.js");
    Html.ReferenceStylesheet("styles/color-picker/ui.css");
}
<div class="color-picker">
    <h2>Color Picker</h2>
    <table>
        <tr>
            <th>Red</th>
            <td><div class="color-slider" data-bind="slider: red"></div></td>
            <td data-bind="text: red"></td>
        </tr>
        <tr>
            <th>Green</th>
            <td><div class="color-slider" data-bind="slider: green"></div></td>
            <td data-bind="text: green"></td>
        </tr>
        <tr>
            <th>Blue</th>
            <td><div class="color-slider" data-bind="slider: blue"></div></td>
            <td data-bind="text: blue"></td>
        </tr>
        <tr>
            <th>Color</th>
            <td colspan="2">
                <div class="chosen-color" data-bind="style: { backgroundColor: color }"></div>
                <div class="chosen-color-hex" data-bind="text: color"></div>
            </td>
        </tr>
        <tr>
            <th> </th>
            <td>
                <button data-bind="click: random">Random</button>
                <button data-bind="click: save">Save Color</button>
            </td>
        </tr>
    </table>
</div>
