@{
    ViewBag.Title = "Index";
    Html.ReferenceScript("scripts/util/message.js");
}

<h2>Index</h2>

<p><button onclick="javascript:Example.showMessage('Hello, World')">Show Message</button></p>
<div id="message"></div>