@{
    ViewBag.Title = "Example Web App";
}

<h1>Example Web App</h1>

<div class="about">
    <p>This simple web application uses <a href="http://jquery.com/">jQuery</a>, <a href="http://jqueryui.com">jQuery UI</a>, <a href="http://knockoutjs.com/">Knockout</a> and some other JavaScript libraries.</p>
    <p>The dependencies between these libraries and the application's own JavaScript is handled by <a href="http://aboutcode.net/knapsack">Knapsack</a>.</p>
    <p>As a result, the code is easy to maintain and debug, but also very efficient in production.
    Try toggling debug mode in Web.config and then view the page source to see the different output.</p>
</div>

@* Take a look at _ColorPicker.cshtml to see more of Knapsack in action. *@
@Html.Partial("_ColorPicker")

@Html.Partial("_Fork")
@Html.Partial("_Tweet")