@{
    // Partial views can reference resources to be included by Knapsack.
    Html.ReferenceStylesheet("styles/widgets/test.css");
}
<div class="test-widget">
    <h2>Test Widget</h2>
</div>
